

.dropdownSet{
    display: flex;
}
.gap{
    color: white;
}

.applicationData{
    display: flex;
    justify-content: flex-start;
    width: 80vw;
}

.applicationContainer{
    border: 1px solid #FC9E04;
    width: 30%;
    height: 700px;
    overflow-y: scroll;
}
.selectAll{
    background-color: white;
    border: none;
}
.selectAll:hover{
    background-color: oldlace;
}
.appliContainerItems{
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
}

.applicationForm{
    border: 1px solid #FC9E04;
    width: 70%;
    height: 700px;
    overflow-y: scroll;
}

.applicationForm div{
    padding: .5%;
}

.searchBar{
    width:60%;
    background-color:#ffffff;
    border:1px solid #FC9E04;
    border-radius: 40px;
}


.formDataOutput{
    padding-top: 1%;
}

.details{
    color: #949494;
    border: 2px solid #949494;
    margin-left: 50px;
    width:78%;
    font-family: 'Inder', sans-serif;
}
.dataLabel{
    color: #949494;
    margin-left: 50px;
    font-family: 'Inder', sans-serif;
}

.studentData{
    display: flex;
}

.toggleOptions{
    display:flex;
}

.removeButton{
    background-color: white;
    color: #14213D;
    border: none;
}

.removeButton:hover{
    color: #294580;
}