
.dropdownButton{
    border: 1px solid #FC9E04;
    width: 100px;
    height:25px;
    color: #FC9E04;
    background-color: white;
    text-align: start; 
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
 }
li {
    list-style-type: none;
 }
.menu{
    border:1px solid #FC9E04;
    width: 150px;
    height:100px;
    position: absolute;
}

.menu-items{
    align-items: center;
    background-color: white;
}

.menuButton{  
    border: none;
    border-bottom: 1px solid #FC9E04;
    width: 100%;
    height:25px;
    color: #FC9E04;
    background-color: white;
    text-align: start;
}
.menuButton:hover{
    background-color: #FC9E04;
    color: white;
}