    .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .formContainer{
    justify-content: center;
    align-items: center;
  }
  
  .title {
    padding-left: 43%;
    font-size: 25px;
    margin-bottom: 20px;
    color: #FC9E04;
    font-family: 'Inter', sans-serif;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputField{
    height:30px;
    background-color: #E5E5E5;
    border: 1px solid #C8C8C8 ;
    font-family: 'Inter', sans-serif;
  }

  .loginButton{
    width:82%;
    height:40px;
    background-color: #14213D;
    color: white;
    border: 1px solid #14213D;
    margin-left: 10%;
  }

  .forgotPass{
    color: #FC9E04;
    padding-left: 38%;
    font-size: small;
    font-family: 'Inter', sans-serif;
  }

  .forgotPass:hover{
    color:#b47003
  }